.navbar {
  width: 100%;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  // z-index: -1;

  // &::before{
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   background: yellow;
  //   height: 100vh;
  //   width: 100%;
  //   // z-index: 1;
  // }

  .navbar_container {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .navbar_wrapper {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        width: 150px;
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          -o-object-fit: cover;
        }
      }

      .close_nav {
        z-index: 999;
        .menu {
          font-size: 2.2rem;
          color: #33aaff;
          display: none;
          cursor: pointer;

          &.active{
            display: block;
          }

        }
      }
    }
    .nav_links {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30%;



      .links {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .link_items {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          padding: 0 10px;
          list-style: none;

          .link {
            list-style: none;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content:center;
            a {
              text-decoration: none;
              font-size: 0.95rem;
              font-weight: 600;
              color: #33aaff;
              text-transform: capitalize;
            }
          }
        }
      }
    }
  }
}

//* MEDIA QUERY STARTS HERE
@media screen and (max-width:768px){
  .navbar{
    .navbar_container{
      max-width: 798px;
      .navbar_wrapper{
        .close_nav{
          .menu{
            display: block;
          }
        }
        .nav_links{
          display: none;
        }
      }
    }
  }
}
