.services {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;

  .container {
    width: 100%;
    max-width: 1200px;
    padding: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
      width: 100%;
      height: 100%;

      .topLine {
        width: 100%;
        // padding: 20px 0;
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        h3 {
          font-size: 1.15rem;
          font-weight: 600;
          color: #4cc9f0;
          text-transform: uppercase;
          letter-spacing: 0.05rem;
        }
      }

      .heading {
        width: 100%;
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
          font-size: 2.5rem;
          font-weight: 700;
          letter-spacing: 0.05rem;
          text-transform: capitalize;
          color: #1ce466;
        }
      }

      .services_wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .services_container {
          width: 100%;
          margin: 30px;
          display: grid;
          grid-template-columns: repeat(3, minmax(200px, 1fr));
          gap: 15px;

          .service {
            position: relative;
            border-radius: 10px;
            width: 100%;
            height: 200px;
            img {
              border-radius: 10px;
              width: 100%;
              height: 100%;
              object-fit: cover;
              -o-object-fit: cover;
            }
            .desc {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              bottom: -40px;

              .service_desc {
                width: 90%;
                padding: 30px 30px;
                background: #fff;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;

                .icons {
                  margin-right: 10px;
                  font-size: 2.3rem;
                  color: #4cc9f0;
                }
                p {
                  font-size: 1.05rem;
                  font-weight: 600;
                  color: #333;
                  letter-spacing: 0.02rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
